USE [Online-Newspaper-DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Gender] [bit] NOT NULL,
	[DoB] [datetime2](7) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NOT NULL,
	[FullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[DoB] [date] NULL,
	[Emaill] [nvarchar](max) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[DateCreated] [date] NOT NULL,
	[DateModified] [date] NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_AuthorId] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ContentComment] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[ParentCommentId] [int] NULL,
	[isDeleted] [bit] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK__Comment__C3B4DFCA5421694E] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hashtag]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hashtag](
	[HashTagId] [int] IDENTITY(1,1) NOT NULL,
	[HashTagName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Hashtag] PRIMARY KEY CLUSTERED 
(
	[HashTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[PostId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Date] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikeHistory]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeHistory](
	[LikeHistoryId] [int] NOT NULL,
	[CommentId] [int] NULL,
	[UserId] [nvarchar](450) NULL,
	[isLike] [bit] NULL,
 CONSTRAINT [PK__LikeHist__551027173C2006A9] PRIMARY KEY CLUSTERED 
(
	[LikeHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Like] [int] NOT NULL,
	[Link] [varchar](200) NULL,
	[Status] [int] NOT NULL,
	[PostHastagId] [int] NULL,
	[AuthorId] [nvarchar](450) NOT NULL,
	[SubcategoryId] [int] NOT NULL,
	[View] [int] NULL,
	[DateCreated] [datetime] NOT NULL,
	[AverageRate] [decimal](18, 0) NOT NULL,
	[IsDeleted] [bit] NULL,
	[Thumbnail] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostHashTag]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostHashTag](
	[PostHashTagId] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[HashTagId] [int] NOT NULL,
 CONSTRAINT [PK_PostHashTag] PRIMARY KEY CLUSTERED 
(
	[PostHashTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[PostId] [int] NOT NULL,
	[RateValue] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 15/08/2020 5:55:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SubCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[SubCategoryName] [nvarchar](200) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200802095131_InitIdentityDb', N'3.1.6')
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([AuthorId], [AuthorName], [Password], [Gender], [DoB], [Emaill], [PhoneNumber], [Address], [Avatar], [DateCreated], [DateModified], [isDelete]) VALUES (1, N'Nguyen', N'123123', N'Nam', CAST(N'2020-12-12' AS Date), N'mail', N'292929292', N'day la address', N'day la avartar', CAST(N'2020-12-12' AS Date), CAST(N'2020-12-13' AS Date), 0)
INSERT [dbo].[Author] ([AuthorId], [AuthorName], [Password], [Gender], [DoB], [Emaill], [PhoneNumber], [Address], [Avatar], [DateCreated], [DateModified], [isDelete]) VALUES (2, N'Hiep', N'123123', N'Nam', CAST(N'2020-12-12' AS Date), N'Email', N'292929292', N'day la address hiep', N'day la avartar Hiep', CAST(N'2020-12-12' AS Date), CAST(N'2020-12-13' AS Date), 0)
INSERT [dbo].[Author] ([AuthorId], [AuthorName], [Password], [Gender], [DoB], [Emaill], [PhoneNumber], [Address], [Avatar], [DateCreated], [DateModified], [isDelete]) VALUES (3, N'Vu', N'123123', N'Nam', CAST(N'2020-12-12' AS Date), N'Mail', N'2929292929', N'Day la address Vu', N'day la avartar Vu', CAST(N'2020-12-12' AS Date), CAST(N'2020-12-12' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [IsDeleted]) VALUES (1, N'Thời sự', 0)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [IsDeleted]) VALUES (2, N'Thế giới', 0)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [IsDeleted]) VALUES (3, N'Tài chính', 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentId], [PostId], [UserId], [ContentComment], [DateCreated], [ParentCommentId], [isDeleted], [Status]) VALUES (2, 17, N'56e3c62e-7dd2-4acf-a372-cda477c80326', N'godododododo', CAST(N'2020-08-03T19:16:15.000' AS DateTime), NULL, 0, 0)
INSERT [dbo].[Comment] ([CommentId], [PostId], [UserId], [ContentComment], [DateCreated], [ParentCommentId], [isDeleted], [Status]) VALUES (8, 17, N'56e3c62e-7dd2-4acf-a372-cda477c80326', N'contentgood', CAST(N'2020-08-03T19:24:13.620' AS DateTime), NULL, 0, 0)
INSERT [dbo].[Comment] ([CommentId], [PostId], [UserId], [ContentComment], [DateCreated], [ParentCommentId], [isDeleted], [Status]) VALUES (11, 17, N'56e3c62e-7dd2-4acf-a372-cda477c80326', N'contentgood', CAST(N'2020-08-03T19:26:01.910' AS DateTime), NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Hashtag] ON 

INSERT [dbo].[Hashtag] ([HashTagId], [HashTagName]) VALUES (1, N'Xe')
INSERT [dbo].[Hashtag] ([HashTagId], [HashTagName]) VALUES (2, N'Thể thao')
INSERT [dbo].[Hashtag] ([HashTagId], [HashTagName]) VALUES (3, N'Thế giới')
SET IDENTITY_INSERT [dbo].[Hashtag] OFF
GO
INSERT [dbo].[History] ([PostId], [UserId], [Date]) VALUES (13, N'46a2b053-d0be-4bd6-8949-af4fb95dccde', CAST(N'2020-08-11' AS Date))
INSERT [dbo].[History] ([PostId], [UserId], [Date]) VALUES (14, N'46a2b053-d0be-4bd6-8949-af4fb95dccde', CAST(N'2020-08-11' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[PostHashTag] ON 

INSERT [dbo].[PostHashTag] ([PostHashTagId], [PostId], [HashTagId]) VALUES (1, 1, 1)
INSERT [dbo].[PostHashTag] ([PostHashTagId], [PostId], [HashTagId]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[PostHashTag] OFF
GO
SET IDENTITY_INSERT [dbo].[SubCategory] ON 

INSERT [dbo].[SubCategory] ([SubCategoryId], [SubCategoryName], [CategoryId], [IsDeleted]) VALUES (1, N'Chính trị', 1, 0)
INSERT [dbo].[SubCategory] ([SubCategoryId], [SubCategoryName], [CategoryId], [IsDeleted]) VALUES (2, N'Pháp luật', 1, 0)
INSERT [dbo].[SubCategory] ([SubCategoryId], [SubCategoryName], [CategoryId], [IsDeleted]) VALUES (3, N'Dân sinh', 1, 0)
SET IDENTITY_INSERT [dbo].[SubCategory] OFF
GO
ALTER TABLE [dbo].[Author] ADD  CONSTRAINT [DF_AuthorId_isDelete]  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF__Comment__isDelet__05D8E0BE]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[LikeHistory] ADD  CONSTRAINT [DF__LikeHisto__isLik__0A9D95DB]  DEFAULT ((0)) FOR [isLike]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_Average Rate]  DEFAULT ((0)) FOR [AverageRate]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SubCategory] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__ParentC__04E4BC85] FOREIGN KEY([ParentCommentId])
REFERENCES [dbo].[Comment] ([CommentId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__ParentC__04E4BC85]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_AspNetUsers]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Post]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post1] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Post1]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_AspNetUsers]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostId])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Post]
GO
ALTER TABLE [dbo].[LikeHistory]  WITH CHECK ADD  CONSTRAINT [FK__LikeHisto__Comme__08B54D69] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comment] ([CommentId])
GO
ALTER TABLE [dbo].[LikeHistory] CHECK CONSTRAINT [FK__LikeHisto__Comme__08B54D69]
GO
ALTER TABLE [dbo].[LikeHistory]  WITH CHECK ADD  CONSTRAINT [FK_LikeHistory_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LikeHistory] CHECK CONSTRAINT [FK_LikeHistory_AspNetUsers]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_AspNetUsers] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_AspNetUsers]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_PostHashTag] FOREIGN KEY([PostHastagId])
REFERENCES [dbo].[PostHashTag] ([PostHashTagId])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_PostHashTag]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_SubCategory] FOREIGN KEY([SubcategoryId])
REFERENCES [dbo].[SubCategory] ([SubCategoryId])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_SubCategory]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_SubCategory1] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[SubCategory] ([SubCategoryId])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_SubCategory1]
GO
ALTER TABLE [dbo].[PostHashTag]  WITH CHECK ADD  CONSTRAINT [FK_PostHashTag_Hashtag] FOREIGN KEY([HashTagId])
REFERENCES [dbo].[Hashtag] ([HashTagId])
GO
ALTER TABLE [dbo].[PostHashTag] CHECK CONSTRAINT [FK_PostHashTag_Hashtag]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostId])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Post]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_SubCategory_Category]
GO
/****** Object:  StoredProcedure [dbo].[Get3PostByCategoryId]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[Get3PostByCategoryId]
    @CategoryId int
AS
DECLARE @message nvarchar(100)
BEGIN 
    SELECT TOP(3)  SubCategoryName,CategoryName,Title,Content,[Like],[Status],AuthorId,[View],DateCreated,AverageRate,Thumbnail,SUBSTRING(p.Content,0, 160) as ShortContent,SUBSTRING(p.Content,0, 30) as ShortContent2
    FROM dbo.SubCategory sub inner join dbo.Category c on sub.CategoryId = c.CategoryId
        inner Join dbo.Post p on sub.SubCategoryId = p.SubcategoryId
    Where c.CategoryId = @CategoryId and c.IsDeleted = 0 and p.IsDeleted = 0 and sub.IsDeleted = 0
	order by p.DateCreated DESC
END
GO
/****** Object:  StoredProcedure [dbo].[getComment]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: 03/08/2020
-- Description:	Create Comment
-- =============================================
CREATE PROCEDURE [dbo].[getComment]
    @CommentId int
AS
    -- body of the stored procedure
    SELECT * FROM dbo.Comment c WHERE c.CommentId = @CommentId and c.isDeleted = 0
GO
/****** Object:  StoredProcedure [dbo].[saveHistory]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[saveHistory]
    @UserId NVARCHAR(450),
    @PostId int
AS
DECLARE @message NVARCHAR(100)
BEGIN TRY
    BEGIN
        IF NOT EXISTS( select 1 from dbo.AspNetUsers u WHERE u.Id =@UserId)
        SET @message = 'Not valid User'
        ;
        IF NOT EXISTS( select 1 from dbo.Post p WHERE p.PostId = @PostId)
        SET @message = 'Not valid Post'
        ;
        IF ( EXISTS(select 1 from dbo.AspNetUsers u WHERE u.Id = @UserId)
        and EXISTS( select 1 from dbo.Post p where p.PostId = @PostId))
        BEGIN
            INSERT INTO [dbo].[History]
            ( 
                UserId,PostId,[Date]
            )
            VALUES
            ( 
                @UserId,@PostId,GETDATE()
            )
            SET @message = 'Done'
        END
    END
END TRY
BEGIN CATCH
    SET @message = 'Something error!'
END CATCH
SELECT @message as [Message]
GO
/****** Object:  StoredProcedure [dbo].[SP_addComment]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_addComment]
    @PostId int,
    @UserId nvarchar(450),
    @ContentComment nvarchar(max),
    @ParentCommentId int 
AS
DECLARE @message nvarchar(50)= 'Add fail'
if @ParentCommentId=-1 SET @ParentCommentId=NULL;
BEGIN
​
    BEGIN TRY
        IF  (EXISTS(select 1 from dbo.Post p where p.PostId = @PostId) and
            EXISTS(select 1 from dbo.[AspNetUsers] u where u.Id = @UserId)
            )
            BEGIN
                INSERT INTO [dbo].[Comment]
                ( 
                PostId,UserId,ContentComment,DateCreated,ParentCommentId
                )
                VALUES
                ( 
                @PostId,@UserId,@ContentComment,GETDATE(),@ParentCommentId
                )
                SET @message ='Add complete'
            END
            
        ;
        ELSE
            BEGIN
                IF NOT EXISTS(select 1 from dbo.Post p WHERE p.PostId = @PostId) SET @message = 'Post is not valid';
                IF NOT EXISTS (select 1 from dbo.[AspNetUsers] u where u.Id = @UserId ) SET @message ='User is not valid';
            END
        ;
    END TRY
​
    BEGIN CATCH
        SET @message = 'Some thing is wrong'
    END CATCH
​
END
SELECT @message as [Message] , [dbo].[Comment].CommentId as CommentId from [dbo].[Comment]
GO
/****** Object:  StoredProcedure [dbo].[SP_createCategory]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_createCategory]
    @CategoryName nvarchar(200)
AS
DECLARE @Message nvarchar(200)
    
BEGIN
    IF EXISTS(select 1 from dbo.Category c WHERE c.CategoryName = @CategoryName )
        BEGIN
            SET @Message = 'Already exist'
            SELECT *, @Message as [Message] FROM dbo.Category c WHERE c.CategoryName=@CategoryName
        END
        
    ;
    ELSE
        BEGIN
            INSERT INTO dbo.Category(CategoryName)
            VALUES( @CategoryName)
            SET @Message = 'Add success'
            SELECT *, @Message as [Message] FROM dbo.Category c WHERE c.CategoryName=@CategoryName
        END
        
    ;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_createModelFromSQLTable]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
​
CREATE PROCEDURE [dbo].[SP_createModelFromSQLTable]  
(  
     @TableName SYSNAME ,  
     @CLASSNAME VARCHAR(500)  = 'public class'
)  
AS 
DECLARE @Result VARCHAR(MAX)  
SET @Result = @CLASSNAME + @TableName + '  
{'   
BEGIN  
    
SELECT @Result = @Result + '  
    public ' + ColumnType + NullableSign + ' ' + ColumnName + ' { get; set; }'  
FROM  
(  
    SELECT   
        REPLACE(col.NAME, ' ', '_') ColumnName,  
        column_id ColumnId,  
        CASE typ.NAME   
            WHEN 'bigint'   THEN 'long'  
            WHEN 'binary'   THEN 'byte[]'  
            WHEN 'bit'      THEN 'bool'  
            WHEN 'char'     THEN 'string'  
            WHEN 'date'     THEN 'DateTime'  
            WHEN 'datetime' THEN 'DateTime'  
            WHEN 'datetime2' Then 'DateTime'  
            WHEN 'datetimeoffset' THEN 'DateTimeOffset'  
            WHEN 'decimal'  THEN 'decimal'  
            WHEN 'float'    THEN 'float'  
            WHEN 'image'    THEN 'byte[]'  
            WHEN 'int'      THEN 'int'  
            WHEN 'money'    THEN 'decimal'  
            WHEN 'nchar'    THEN 'char'  
            WHEN 'ntext'    THEN 'string'  
            WHEN 'numeric'  THEN 'decimal'  
            WHEN 'nvarchar' THEN 'string'  
            WHEN 'real'     THEN 'double'  
            WHEN 'smalldatetime' THEN 'DateTime'  
            WHEN 'smallint' THEN 'short'  
            WHEN 'smallmoney' THEN 'decimal'  
            WHEN 'text'     THEN 'string'  
            WHEN 'time'     THEN 'TimeSpan'  
            WHEN 'timestamp' THEN 'DateTime'  
            WHEN 'tinyint'  THEN 'byte'  
            WHEN 'uniqueidentifier' THEN 'Guid'  
            WHEN 'varbinary' THEN 'byte[]'  
            WHEN 'varchar'  THEN 'string'  
            ELSE 'UNKNOWN_' + typ.NAME  
        END ColumnType,  
        CASE   
            WHEN col.is_nullable = 1 and typ.NAME in ('bigint', 'bit', 'date', 'datetime', 'datetime2', 'datetimeoffset', 'decimal', 'float', 'int', 'money', 'numeric', 'real', 'smalldatetime', 'smallint', 'smallmoney', 'time', 'tinyint', 'uniqueidentifier')   
            THEN '?'   
            ELSE ''   
        END NullableSign  
    FROM SYS.COLUMNS col join sys.types typ on col.system_type_id = typ.system_type_id AND col.user_type_id = typ.user_type_id  
    where object_id = object_id(@TableName)  
) t
ORDER BY ColumnId  
SET @Result = @Result  + '  
}'  
print @Result  
​
END
​
​
-- example to execute the stored procedure we just created
exec SP_createModelFromSQLTable 'FastInfoPost'
GO
/****** Object:  StoredProcedure [dbo].[SP_createNewPost]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_createNewPost]
    @Title nvarchar(200)
    ,@Content nvarchar(max)
    ,@AuthorId nvarchar(450)
    ,@SubcategoryId int
    ,@Thumbnail NVARCHAR(max)
AS
DECLARE @Message nvarchar(50)
BEGIN
    BEGIN TRY
        IF( EXISTS( select 1 from dbo.AspNetUsers u where u.Id = @AuthorId)
            and EXISTS( select 1 from dbo.SubCategory sub where sub.SubCategoryId =@SubcategoryId))
        BEGIN
       
            INSERT INTO [dbo].[Post]
            ( 
            AuthorId,AverageRate,Content,DateCreated,IsDeleted,[Like],Link,PostHastagId,[Status],SubcategoryId,Thumbnail,Title,[View]
            )
            VALUES
            ( -- First row: values for the columns in the list above
            @AuthorId,0,@Content,GETDATE(),0,0,'',null,0,@SubcategoryId,@Thumbnail,@Title,0
            )
            SET @Message = 'Create is completed'
        END
        ;
        ELSE
        BEGIN
            IF NOT EXISTS( select 1 from dbo.AspNetUsers u where u.Id = @AuthorId )
            SET @Message = 'Not found user'
            ;
            IF NOT EXISTS( select 1 from dbo.SubCategory sub where sub.SubCategoryId =@SubcategoryId)
            SET @Message = 'Not found subcategory'
        END

    END TRY
    BEGIN CATCH
        SET @Message = 'Some thing is wrong'
    END CATCH
END
SELECT @Message as [Message]
GO
/****** Object:  StoredProcedure [dbo].[SP_createSubCategory]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_createSubCategory]
    @CategoryId int,
    @SubCategoryName nvarchar(200)
AS
DECLARE @messenger NVARCHAR(200)
    IF EXISTS( SELECT 1 FROM dbo.SubCategory s WHERE s.SubCategoryName = @SubCategoryName)
        BEGIN
            SET @messenger = 'Already Exists'
            SELECT *, @messenger as [Message] FROM dbo.SubCategory s WHERE s.SubCategoryName = @SubCategoryName
        END
    ;
    ELSE
        BEGIN
            
            INSERT INTO dbo.SubCategory
            ( 
             CategoryId, SubCategoryName
            )
            VALUES
            ( -- First row: values for the columns in the list above
             @CategoryId, @SubCategoryName
            )
            SET @messenger = 'Add Success'
            SELECT *, @messenger as [Message] FROM dbo.SubCategory s WHERE s.SubCategoryName = @SubCategoryName
            
        END
    ;
GO
/****** Object:  StoredProcedure [dbo].[SP_editCategory]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_editCategory]
   @CategoryId int,
   @CategoryName nvarchar(200)
AS
DECLARE @messgenger nvarchar(200)
BEGIN
    IF EXISTS(SELECT 1 FROM dbo.Category c WHERE c.CategoryId = @CategoryID )
        BEGIN
            UPDATE dbo.Category
            SET
                CategoryName = @CategoryName
            WHERE CategoryId = @CategoryId
            SET @messgenger = 'Edit success'
            SELECT *, @messgenger as [Message] FROM dbo.Category c WHERE c.CategoryId = @CategoryId
        END
    ;
    ELSE
        BEGIN
            SET @messgenger = ' Not Found'
            SELECT TOP(1) @CategoryId as CategoryId,@CategoryName as CategoryName, @messgenger as [Message] FROM dbo.Category
        END
    ;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_editComment]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_editComment]
    @CommentID int,
    @ContentComment NVARCHAR(max)
​
AS
DECLARE @message nvarchar(100) = 'Edit fail'
BEGIN
    IF EXISTS( SELECT 1 FROM dbo.Comment c WHERE c.CommentId = @CommentID)
        BEGIN
            
            UPDATE [dbo].[Comment]
            SET
                [ContentComment] = @ContentComment
                
            WHERE CommentId = @CommentID
            SET @message = 'Edit success'
        END
    ;
    ELSE SET @message ='Not found comment'
    ;
    SELECT @message as [Message]
END
    
GO
/****** Object:  StoredProcedure [dbo].[SP_editSubCategory]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_editSubCategory]
    @CategoryId int, 
    @SubCategoryId int,
    @SubCategoryName nvarchar(200)
AS
DECLARE @messenger nvarchar(200) = 'Edit fail'
BEGIN
    IF EXISTS(select 1 from dbo.Category c WHERE c.CategoryId = @CategoryId)
        BEGIN
            IF EXISTS( select 1 FROM dbo.SubCategory s WHERE s.SubCategoryId = @SubCategoryId)
            BEGIN
                UPDATE dbo.SubCategory
                SET CategoryId = @CategoryId, SubCategoryName = @SubCategoryName
                WHERE SubCategoryId = @SubCategoryId
​
                SET @messenger = 'Edit success'
                SELECT *, @messenger as [Message] FROM dbo.SubCategory s WHERE s.SubCategoryId = @SubCategoryId
            END
        END
        
    ;
    ELSE
        BEGIN
        SET @messenger = 'Edit fail'
         SELECT @messenger as [Message], @CategoryId as CategoryId, @SubCategoryId as SubcategoryId, @SubCategoryName as SubcategoryName
        END
    ;
​
END
GO
/****** Object:  StoredProcedure [dbo].[SP_get5FastInfoPost]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_get5FastInfoPost]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
​
    -- Insert statements for procedure here
	SELECT top(5) p.Thumbnail, p.PostId, p.Title,FORMAT(p.DateCreated,'hh:mm, dd-MM-yyyy') as DateCreated, (SELECT COUNT( c.ContentComment) 
		FROM dbo.Comment c
		where c.PostId = p.PostId) as NumberOfComment
	FROM dbo.Post p
    WHERE p.IsDeleted = 0 AND p.Status=0
	ORDER BY p.DateCreated desc
    
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getAllCategory]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Huynh Thao Nguyen
-- Create date: 2020-07-29
-- Description:	get all Category
-- =============================================
CREATE PROCEDURE [dbo].[SP_getAllCategory]
   
AS
    
     SELECT c.CategoryId,
	c.CategoryName,
	(Select COUNT(*) FROM SubCategory s WHERE s.CategoryId = c.CategoryId)As SoLuong
	FROM Category c
	WHERE c.IsDeleted=0
GO
/****** Object:  StoredProcedure [dbo].[SP_getAllHistory]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_getAllHistory]
    @UserId NVARCHAR(450)
AS
DECLARE @message NVARCHAR(100)
IF ( EXISTS( select 1 from dbo.AspNetUsers u where u.Id = @UserId)
    and EXISTS( select 1 from dbo.History h where h.UserId = @UserId))
    BEGIN
        SET @message = 'Success'
        SELECT @message as [Message], p.PostId, p.DateCreated, p.Title,p.Thumbnail,p.[Like],p.Link,p.[View], h.Date AS DateView
        FROM dbo.History h INNER JOIN dbo.Post p ON h.PostId = p.PostId 
        ORDER BY p.DateCreated
    END
;
ELSE
BEGIN
    IF NOT EXISTS ( select 1 from dbo.AspNetUsers u where u.Id = @UserId)
    SET @message ='User is not valid'
    ;
    ELSE
    SET @message ='History is emply'
    ;
    SELECT @message as [Message]
END
    
;
GO
/****** Object:  StoredProcedure [dbo].[SP_getAllPost]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  -- Create the stored procedure in the specified schema
  CREATE PROCEDURE [dbo].[SP_getAllPost]
     
  AS
      -- body of the stored procedure
      SELECT *
      From [Online-Newspaper-DB].[dbo].[Post] p
	  WHERE p.IsDeleted=0 AND p.Status=0
	  ORDER BY p.DateCreated desc
GO
/****** Object:  StoredProcedure [dbo].[SP_getCategoryId]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Huynh Thao Nguyen
-- Create date: 2020-07-29
-- Description:	get all Category
-- =============================================
Create PROCEDURE [dbo].[SP_getCategoryId]
   @CategoryId INT 
AS
    
    SELECT c.CategoryId,
	c.CategoryName,
	(Select COUNT(*) FROM SubCategory s WHERE s.CategoryId = c.CategoryId)As SoLuong
	FROM Category c
	WHERE  @CategoryId =c.CategoryId  AND c.IsDeleted=0
	 
GO
/****** Object:  StoredProcedure [dbo].[SP_getFastInfoPost]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_getFastInfoPost]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
​
    -- Insert statements for procedure here
	SELECT p.Thumbnail, p.PostId, p.Title,FORMAT(p.DateCreated,'hh:mm, dd-MM-yyyy') as DateCreated, (SELECT COUNT( c.ContentComment) 
		FROM dbo.Comment c
		where c.PostId = p.PostId) as NumberOfComment
	FROM dbo.Post p
    WHERE p.IsDeleted = 0 AND P.Status=0
	ORDER BY p.DateCreated desc
    
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getListCommentByParentCommentId]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_getListCommentByParentCommentId]
    @ParentCommentId int
AS
DECLARE @message NVARCHAR(100)
BEGIN
    IF ( EXISTS ( select 1 from dbo.Comment c where c.CommentId = @ParentCommentId)
        AND EXISTS(SELECT 1 FROM dbo.Comment c WHERE (c.ParentCommentId = @ParentCommentId and c.isDeleted = 0 and c.[Status] = 0 )))
    BEGIN
        SET @message = 'Found'
        SELECT *, @message as [Message] 
        FROM dbo.Comment c 
        WHERE (c.ParentCommentId = @ParentCommentId and c.isDeleted = 0 and c.[status] = 0 )
        ORDER BY c.DateCreated asc
    END
    ;
    ELSE
    BEGIN
        SET @message = 'Not found'
        SELECT @message as [Message]
    END
        
    ;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getListCommentByPostId]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_getListCommentByPostId]
    @PostId int
AS
DECLARE @message nvarchar(100) = 'Not found'
BEGIN
    IF EXISTS( SELECT * FROM dbo.Comment c inner join dbo.Post p on c.PostId = p.PostId WHERE p.PostId = @PostId )
        BEGIN
            SET @message = 'Found'
            Select *, @message as [Message] from dbo.Comment c where c.PostId = @PostId
        END
        
    ;
    ELSE
        Select @message as [Message]
    ;
    
END
    -- body of the stored procedure
    SELECT * FROM dbo.Comment c WHERE c.PostId = @PostId ORDER BY c.DateCreated
GO
/****** Object:  StoredProcedure [dbo].[SP_getListPostBySubCategoryId]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_getListPostBySubCategoryId]
     @SubCategoryId int
AS
DECLARE @message nvarchar(100) = 'Not found'
BEGIN
    if( exists( select * from dbo.SubCategory s inner join dbo.Post p on s.SubCategoryId = p.SubcategoryId WHERE p.SubcategoryId = @SubCategoryId))
        BEGIN
            SET @message = 'Found'
            SELECT *, @message as [Message] FROM dbo.Post p WHERE p.SubcategoryId = @SubCategoryId
        END
        
    ;
    ELSE
        SELECT @message as [Message]
    ;
END
  
GO
/****** Object:  StoredProcedure [dbo].[SP_getPostByCategoryId]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Huynh Thao Nguyen
-- Create date: 2020-07-29
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_getPostByCategoryId] 
	@CategoryId int
AS
BEGIN
​
		SELECT *
	  FROM [dbo].[Post] p
	  Where p.CategoryId = @CategoryId AND p.IsDeleted = 0
	  order by p.DateCreated desc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getPostByPostID]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_getPostByPostID]
    @PostId int
​
-- add more stored procedure parameters here
AS
DECLARE @message nvarchar(50)
BEGIN
    IF EXISTS (SELECT * FROM dbo.Post p WHERE p.PostId = @PostID and p.IsDeleted = 0) 
        BEGIN
            SET @message = 'Success!'
            SELECT @message as [Message], p.PostId, p.Title,p.Content,p.[Like],p.Link,p.[Status],p.PostHastagId,p.AuthorId,p.SubcategoryId,p.[View],FORMAT(p.DateCreated,'hh:mm, dd-MM-yyyy') as DateCreated, p.AverageRate,p.IsDeleted,p.Thumbnail
            FROM dbo.Post p  WHERE p.PostId = @PostId and p.IsDeleted = 0 
        END
    ;
    ELSE 
    BEGIN
        SET @message = 'Invalid'
        SELECT @message as [Message]
    END
    ;
    
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getSubcategoryByCategoryId]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_getSubcategoryByCategoryId]
    @CategoryId int

AS
DECLARE @message nvarchar(125) = 'Not found'
BEGIN
    IF EXISTS(SELECT * FROM dbo.Category c INNER JOIN dbo.SubCategory s on c.CategoryId = s.CategoryId where c.CategoryId = @CategoryId )
        BEGIN
            SET @message = 'Found'
            select * from dbo.SubCategory s WHERE s.CategoryId = @CategoryId AND s.IsDeleted=0
        END
    ;
    ELSE
        SELECT @message as [Message]
    ;
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getSubCategoryId]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Huynh Thao Nguyen
-- Create date: 2020-07-29
-- Description:	get all Category
-- =============================================
Create PROCEDURE [dbo].[SP_getSubCategoryId]
   @SubCategoryId INT
AS
SELECT [SubCategoryId]
      ,[SubCategoryName]
      ,[CategoryId]
  FROM [dbo].[SubCategory]
WHERE @SubCategoryId = SubCategoryId
GO
/****** Object:  StoredProcedure [dbo].[SP_getTop10MostViewOfDay]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Huynh Thao Nguyen
-- Create date: 2020-07-29
-- Description:	get top 10 most  view of day 
-- =============================================
CREATE PROCEDURE [dbo].[SP_getTop10MostViewOfDay]
	
AS
BEGIN
	SELECT TOP 10 p.Thumbnail,p.[View], p.PostId, p.Title,p.Content,SUBSTRING(p.Content,0, 100) as ShortContent,FORMAT(p.DateCreated,'hh:mm, dd-MM-yyyy') as DateCreated,(SELECT COUNT( c.ContentComment)
		FROM dbo.Comment c
		where c.PostId = p.PostId) as NumberOfComment
	from Post p
	where  p.IsDeleted = 0
	order by p.[View] DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getTop5LastestPost]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Huynh Thao Nguyen
-- Create date: 2020-07-29
-- Description:	get top 10 most  view of day
-- =============================================
CREATE PROCEDURE [dbo].[SP_getTop5LastestPost]
	
AS
BEGIN
	SELECT TOP 5 p.Thumbnail, p.PostId, p.Title,p.Content,SUBSTRING(p.Content,0, 160) as ShortContent,SUBSTRING(p.Content,0, 30) as ShortContent2,FORMAT(p.DateCreated,'hh:mm, dd-MM-yyyy') as DateCreated,(SELECT COUNT( c.ContentComment)
		FROM dbo.Comment c
		where c.PostId = p.PostId) as NumberOfComment
	from Post p
	where  p.IsDeleted = 0 and p.Status = 0
	order by p.DateCreated DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getTopPostByDay]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_getTopPostByDay]
    @DateToGet DATETIME,
    @NumberOfPost int
AS
BEGIN
    SELECT p.Thumbnail, p.PostId, p.Title,FORMAT(p.DateCreated,'hh:mm, dd-MM-yyyy') as DateCreated, (SELECT COUNT( c.ContentComment) 
		FROM dbo.Comment c
		where c.PostId = p.PostId) as NumberOfComment
	FROM dbo.Post p
	where CONVERT(DATE,p.DateCreated) = CONVERT(DATE, @DateToGet) and p.IsDeleted = 0
	order by p.[View] DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getUserByUserId]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_getUserByUserId]
   @UserId NVARCHAR(450)
AS
DECLARE @message NVARCHAR(100)
IF EXISTS ( select 1 from dbo.AspNetUsers u WHERE u.Id = @UserId and u.IsDeleted = 0)
    BEGIN
        SELECT Id,UserName,Email,PhoneNumber,Gender,DoB,Avatar,[Address],FullName
        FROM dbo.AspNetUsers u 
        WHERE u.Id = @UserId
        SET @message = 'Done'
    END
;
ELSE
    BEGIN
        SET @message = 'Not found user'
        SELECT @message as [Message]
    END
;
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveCategory]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Xuan Cuong
-- Create date: 8/13/2020
-- Description:	create/update saveCategory
-- =============================================
CREATE PROCEDURE [dbo].[sp_SaveCategory]
	@CategoryId INT,
	@CategoryName NVARCHAR(50)
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again!'
	BEGIN TRY
		--Create new Department
		IF(@CategoryId IS NULL OR @CategoryId = 0)
		BEGIN

INSERT INTO [dbo].[Category]
           ([CategoryName])
     VALUES
           (@CategoryName)
						
			SET @CategoryId = SCOPE_IDENTITY()
			SET @Message = 'Category has been created successfully!'

		END
		ELSE --Update Department by Id
		BEGIN

       UPDATE [dbo].[Category]
       SET [CategoryName] = @CategoryName

   WHERE @CategoryId = CategoryId

			 SET @Message = 'Category has been updated successfully!'
		END

		SELECT @CategoryId AS CategoryId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SET @CategoryId = 0
		SELECT @CategoryId AS CategoryId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SavePost]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hiệp>
-- Create date: <29/07/2020>
-- Description:	create/update Post
-- =============================================
CREATE PROCEDURE [dbo].[sp_SavePost]
	@PostId INT,
	@Title NVARCHAR(200),
	@Content NVARCHAR(Max),
	@Like INT,
	@Link VARCHAR(200),
	@Status INT,
	@CategoryId INT,
	@PostHashTagId INT,
	@AuthorId INT,
	@SubCategoryId INT,
	@View INT,
	@AverageRate DECIMAL

AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again!'
	BEGIN TRY
		--Create new Post
		IF(@PostId IS NULL OR @PostId = 0)
		BEGIN
		
INSERT INTO [dbo].[Post]
           ([Title]
           ,[Content]
           ,[Like]
           ,[Link]
           ,[Status]
           ,[PostHastagId]
           ,[AuthorId]
           ,[SubcategoryId]
           ,[View]
           ,[DateCreated]
           ,[AverageRate])
         
     VALUES
           (@Title
           ,@Content
           ,@Like
           ,@Link
           ,@Status
           ,@PostHashTagId
           ,@AuthorId
           ,@SubCategoryId
           ,@View
           ,GETDATE()
           ,@AverageRate)
        





			SET @PostId = SCOPE_IDENTITY()
			SET @Message = 'Post has been created successfully!'

		END
		ELSE --Update Post by Id
		BEGIN


UPDATE [dbo].[Post]
   SET [Title] = @Title
      ,[Content] = @Content
      ,[Like] = @Like
      ,[Link] = @Link
      ,[Status] = @Status

      ,[PostHastagId] = @PostHashTagId
      ,[AuthorId] = @AuthorId
      ,[SubcategoryId] = @SubCategoryId
      ,[View] = @View
      ,[DateCreated] = GETDATE()
      ,[AverageRate] = @AverageRate
      
			WHERE PostId=@PostId




	
			 SET @Message = 'Post has been updated successfully!'
		END

		SELECT @PostId AS PostId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SET @PostId = 0
		SELECT @PostId AS PostId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_softDelete]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_softDelete] 
	@PostId int
AS
DECLARE @message nvarchar(50)
SET @message = 'Invalid!'
BEGIN
	BEGIN TRY
		UPDATE dbo.Post
		SET IsDeleted = 1
		WHERE PostId = @PostId
		SET @message = 'Done!'
	END TRY
	BEGIN CATCH
		SET @message = 'Error!'
	END CATCH

	Select @PostId as PostId, @message as Message
END
GO
/****** Object:  StoredProcedure [dbo].[SP_softDeleteCategoryById]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_softDeleteCategoryById]
    @CategoryId int
AS
DECLARE @messenger nvarchar(200) = 'Soft delete  is fail'
BEGIN
    IF EXISTS (select 1 from dbo.Category c WHERE c.CategoryId = @CategoryId )
        BEGIN
            UPDATE dbo.Category SET IsDeleted = 1 where CategoryId = @CategoryId
            SET @messenger = 'Soft Delete is completed'
            SELECT *, @messenger as [Message] FROM dbo.Category c WHERE c.CategoryId = @CategoryId 
        END
    ;
    ELSE
    BEGIN
        SELECT @messenger as [Message] 
    END
    ;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_softDeleteComment]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_softDeleteComment]
    @CommentId int
AS
DECLARE @message nvarchar(200) = 'Soft Delete is fail'
BEGIN
    IF  EXISTS ( select 1 from dbo.Comment c where c.CommentId = @CommentId and c.isDeleted = 0)
        BEGIN
            UPDATE [dbo].[Comment]
            SET isDeleted = 1
            WHERE CommentId = @CommentId ;
            SET @message = 'Soft Delete Complete'
        END
    ;
    ELSE 
        BEGIN
            IF EXISTS (SELECT 1 from dbo.Comment c where c.CommentId=@CommentId and c.isDeleted = 1)
            SET @message = 'This comment have been soft deleted before';
            ELSE SET @message = 'Not found comment';
        END
    ;
​
END
    SELECT @message as [Message], @CommentId as CommentId
GO
/****** Object:  StoredProcedure [dbo].[SP_softDeleteSubCategoryById]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_softDeleteSubCategoryById]
    @SubCategoryId int
AS
DECLARE @messenger nvarchar(200) = 'Soft delete  is fail'
BEGIN
    IF EXISTS (select 1 from dbo.SubCategory c WHERE c.SubCategoryId = @SubCategoryId )
        BEGIN
            UPDATE dbo.SubCategory SET IsDeleted = 1 where SubCategoryId = @SubCategoryId
            SET @messenger = 'Soft Delete is completed'
            SELECT *, @messenger as [Message] FROM dbo.SubCategory c WHERE c.SubCategoryId = @SubCategoryId 
        END
    ;
    ELSE
    BEGIN
        SELECT @messenger as [Message] 
    END
    ;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_updateComment]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_updateComment]
    @CommentId int,
    @PostId int,
    @UserId nvarchar(450),
    @ContentComment NVARCHAR(max)
AS
DECLARE @message nvarchar(max) = 'Update fail'
    BEGIN
        IF EXISTS (select 1 from dbo.Comment c where c.CommentId = @CommentId)
            BEGIN
                UPDATE [dbo].[Comment]
                SET
                    PostId = @PostId,
                    UserId = @UserId,
                    ContentComment = @ContentComment
                WHERE CommentId = @CommentId
                SET @message = 'Update complete'
            END
        ;
        ELSE
        SET @message = 'Not found Comment'
        ;
       
    END
    SELECT @message as [Message], @CommentId as CommentId
GO
/****** Object:  StoredProcedure [dbo].[SP_updatePost]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_updatePost]
			@PostId int,
			@Title nvarchar(200)
           ,@Content nvarchar(max)
           ,@Like  int
           ,@Link varchar(200)
           ,@Status int
           ,@PostHastagId int
           ,@AuthorId nvarchar(450)
           ,@SubcategoryId int
           ,@View int
           ,@AverageRate decimal(18,0),
			@IsDeleted bit,
			@Thumbnail nvarchar(Max)
-- add more stored procedure parameters here
AS
DECLARE @Message NVARCHAR(50) ='Fail'
​
BEGIN
    BEGIN TRY
 

UPDATE [dbo].[Post]
   SET [Title] = @Title
      ,[Content] = @Content
      ,[Like] = @Like
      ,[Link] = @Link
      ,[Status] = @Status
      ,[PostHastagId] = @PostHastagId
      ,[AuthorId] = @AuthorId
      ,[SubcategoryId] = @SubcategoryId
      ,[View] =@View
      ,[DateCreated] = GETDATE()
      ,[AverageRate] = @AverageRate
      ,[IsDeleted] = @IsDeleted
	  ,[Thumbnail] = @Thumbnail
        WHERE PostId = @PostId
        SET @Message = 'Done'
    END TRY
    BEGIN CATCH
        SET @Message ='Error'
    END CATCH
    
    
    select @PostId as PostId, @Message as [Message]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_updateUser]    Script Date: 15/08/2020 5:55:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[SP_updateUser]
    @UserId NVARCHAR(450),
    @FullName nvarchar(max),
    @Gender bit,
    @Dob DATETIME2(7),
    @Email NVARCHAR(256),
    @PhoneNumber NVARCHAR(max),
    @Address NVARCHAR(max),
    @Avatar NVARCHAR(max)
AS
DECLARE @message NVARCHAR(100)
BEGIN TRY
    
    IF EXISTS( select 1 from dbo.AspNetUsers u where u.Id = @UserId And u.IsDeleted=0)
        BEGIN
            BEGIN TRANSACTION
            UPDATE dbo.AspNetUsers
            SET Id=@UserId,
				UserName=@Email,
				FullName = @FullName, 
                Gender = @Gender,
                DoB = @Dob,
                Email = @Email,
                PhoneNumber = @PhoneNumber,
                [Address] = @Address,
                Avatar = @Avatar,
				DateModified=GetDate()
            WHERE Id = @UserId
            COMMIT TRANSACTION
            SET @message = 'Update complete'
        END
    ;
    ELSE SET @message='User is not valid'
END TRY
BEGIN CATCH
    ROLLBACK
    SET @message = 'Some thing is error'
END CATCH
SELECT @message as [Message]
GO
